h2 {
    display: inline-block;
}

label {
    display: block;
}

textarea {
    display: block;
}

header {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}




